# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv3/
env/
.venv/
venv4/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db