# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv1/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
